@model MyCoreWebApp.Models.DataModels.ServiceRequestDataModel
@using MyCoreWebApp.Models.DataModels;
@{
    ViewData["Title"] = "Create";
}

<h2>Create New Work Order</h2>

<h4>Service Request</h4>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <h3>Request Type Descriptions</h3>
        <table class="table-bordered table-responsive table-hover">
            @*TABLE HEADERS*@
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(m => m.RequestTypeInformation.FirstOrDefault().RequestTypeId)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(m => m.RequestTypeInformation.FirstOrDefault().RequestName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(m => m.RequestTypeInformation.FirstOrDefault().RequestDescription)
                </th>
            </tr>
            @*List in table rows the request type information*@
            @{

                foreach (var item in Model.RequestTypeInformation)
                {
                    <tr>
                        <td>@item.RequestTypeId</td>
                        <td>@item.RequestName</td>
                        <td>@item.RequestDescription</td>
                    </tr>
                }

            }
        </table>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceRequestDescription" class="control-label"></label>
                <input asp-for="ServiceRequestDescription" class="form-control" />
                <span asp-validation-for="ServiceRequestDescription" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="IdealRequestDate" class="control-label"></label>
            <input asp-for="IdealRequestDate" class="form-control" />
            <span asp-validation-for="IdealRequestDate" class="text-danger"></span>
        </div>*@
            @Html.TextBoxFor(m => m.IdealRequestDate, "{0:MM/dd/yyyy}", new { @class = "form-control default-date-picker" })
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CustomerConsent" /> @Html.DisplayNameFor(model => model.CustomerConsent)
                    </label>
                </div>
                @*@Html.DropDownList("ServiceRequesttype", new SelectList(Model.ServiceRequesttype.).AsEnumerable<SelectListItem>(),,"Select Request Option", new { @class = "form-control" })*@
                @Html.DropDownListFor(m => m.StudentGender,
                   new SelectList(Enum.GetValues(typeof(Gender))),
                   "Select Gender")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
